/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 1.5em; /* スマホ画面で大きすぎないように調整 */
    margin-bottom: 20px;
    white-space: nowrap; /* 一行に収める */
    overflow: hidden;
    text-overflow: ellipsis;
}

#omikujiImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 15px;
    font-size: 1.2em; /* フォントサイズを少し小さく */
    width: 70%;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    padding: 15px 30px; /* ボタンを大きく */
    font-size: 1.2em; /* ボタンのフォントサイズを大きく */
    background-color: #00BFFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto 0 auto;
}

button:hover {
    background-color: #00A3CC;
}

/* iPhone 12用のメディアクエリ */
@media (max-width: 390px) {
    h1 {
        font-size: 1.2em; /* 小さい画面でさらに調整 */
    }

    button {
        width: 100%; /* ボタンを画面幅に合わせる */
        padding: 15px;
    }

    input[type="text"] {
        width: 70%; /* テキストボックスも画面幅に合わせる */
        font-size: 1.5em;
        padding: 15px;
    }
}

/* 結果画面のスタイル */
#resultContainer {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

#resultMessage {
    font-size: 2em; /* 結果メッセージのサイズを大きく */
    margin-bottom: 10px;
}

#resultOutcome {
    font-size: 4.5em; /* ○○賞の文字を大きく */
    margin-bottom: 10px;
    margin-top: auto;
}

#resultGif {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* gifを中央に配置 */
    margin-top: auto;
    margin-bottom: 30px;
}

#goBackButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #00BFFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 100px; /* ボタンをもっと下に配置 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#goBackButton:hover {
    background-color: #00A3CC;
}

/* iPhone 12用のメディアクエリ */
@media (max-width: 390px) {
    #resultMessage {
        font-size: 1.5em;
    }

    #resultOutcome {
        font-size: 10em; /* 画面幅に応じてサイズ調整 */
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #goBackButton {
        width: 80%; /* ボタンを画面に合わせる */
        margin-top: 1000px;
    }
}
